.footer__back_to_top {
    background: #2f2f2f;
    color: #fff;
    cursor: pointer
}

.fotter__logo {
    width: 100px;
    object-fit: contain;
}

.fotter {
    background: #111;
}
.fotter__brand_desc{
    font-weight:300;
    color:#888;
    font-size:small;
}