@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&family=Overpass:wght@400;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Manrope', sans-serif; */
  font-family: 'Overpass', sans-serif;
  /* font-family: 'Roboto', sans-serif; */

}

:root {
  --bs-primary: #ffb900;
  --bs-secondary: #111;
}

.Button-1 {
  background: var(--bs-primary) ;
  color: var(--bs-secondary) ;
  border: solid 1px var(--bs-primary) ;
  line-height:40px;
}

.Button-1:hover {
  background: transparent;
  border: solid 1px var(--bs-primary);
  color: var(--bs-secondary) ;
}




body {
  background: #fff;
  overflow-x: hidden;
  width: 100vw;

}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #2897e7;
}

.App {
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}